@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<p>Welcome to Our car Dealership, your trusted destination for luxury and premium automobiles. Since our establishment in [Year], we have been committed to delivering world-class vehicles and exceptional customer experiences to car enthusiasts and drivers around the globe.</p>
<p>At Tuna's car Dealership, we specialize in offering a curated selection of high-performance, luxury, and exotic vehicles from the world’s leading automotive brands. Whether you’re looking for elegance, speed, or innovation, our gallery features a diverse range of options tailored to meet your desires.</p>
<p><a href="/">Go back to Home</a></p>
